{% extends 'base.html' %}
{% block content %}

    <h1>블로그 목록</h1><br>접속 횟수{{ count }}
    <p style="text-align: right">
    <a href="{% url 'blog_create' %}">생성</a>
    </p>
    <h3> {{ request.user.username }}</h3>
     {% for blog in object_list %}

        <p>
            <a href="{% url 'blog_detail' blog.pk %}">
                {{ blog.id }}{{ blog.title}} - <sapn>{{ blog.author.username }}</sapn><small>{{blog.created_at | date:"Y-m-d"}}</small></a></p>
{% endfor %}

    <form method="get" style="margin-bottom:10px;">
        <input name="q" type="text" placeholder="검색어는?" value="{% if request.Get.q %}{{ request.GET.q }}{% endif %}">
        <button>검색</button>
    </form>

    <div>
        {% if page_obj.has_previous %}
    <a href="?page=1{% if request.Get.q %}{{ request.GET.q }}{% endif %}">>&laquo; 첫 페이지로</a>
    <a href="?page={{ page_obj.previous_page_number }}{% if request.Get.q %}{{ request.GET.q }}{% endif %}">이전</a>
    {% endif %}

    {% if page_obj.number|add:-2 > 1 %}
        <a href="?page={{ page_obj.number|add:-3 }}{% if request.Get.q %}{{ request.GET.q }}{% endif %}">&hellip;</a>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <span>(현재 페이지)</span>
            {% elif i > page_obj.number|add:-3 and i < page_obj.number|add:4 %}
            <a href="?page{{ i }}{% if request.Get.q %}{{ request.GET.q }}{% endif %}">{{ i }}</a>
     {% endif %}
    {% endfor %}

    {% if page_obj.paginator.num_pages > page_obj.number|add:2 %}
    <a href="?page{{ page_obj.number|add:3 }}{% if request.Get.q %}{{ request.GET.q }}{% endif %}">&hellip;</a>
    {% endif %}
{#    <span>#}
{#        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}#}
{#    </span>#}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if request.Get.q %}{{ request.GET.q }}{% endif %}">다음</a>
    <a href="?page={{ page_obj.paginator.num_pages }}{% if request.Get.q %}{{ request.GET.q }}{% endif %}">마지막 페이지로 &raquo;</a>
    {% endif %}
    </div>
{% endblock %}
